$color-1: #205D9E; // collapse, cards and form
$color-2: #0090FF; // form
$color-3: #FAF9F6; // texte background for submitarea
$color-4: #004074; // background
$color-5: #B08B5B; // mot mis en évidence
