.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: $color-2;
    }
  }

  &__title {
    color: $color-3;
    background-color: $color-1;
    font-size: 24px;
  }

  &__icon {
    width: 32px;
    background-color: $color-1;
  }

  &__content {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 5px 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    a {
      color: $color-3;
    }
    p {
      font-size: 18px;
      padding: 15px;
      line-height: 25px;
    }
  }

  &--active &__content {
    max-height: 10000px;
  }

  &__icon {
    transition: transform 500ms;
  }

  &--active &__icon {
    transform: rotate(-180deg);
  }

  &__project {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  li {
    list-style-type: none;
  }
}
