.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;

  img {
    height: 400px;
  }
  p{
    font-weight: 900;
    text-align: center;
    border: black solid 1px;
    box-shadow: 5px 5px 15px 5px #000000;
    padding: 10px;
    margin: 100px;
  }
}
