.form {
  display: flex;
  flex-direction: column;
  width: 900px;
  gap: 30px;
  font-weight: 900;
  color: $color-3;

  .case {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      width: 200px;
      height: 30px;
      padding: 10px;
      background-color: white;
    }
    textarea {
      padding: 10px;
      height: 300px;
      background-color: white;
    }
  }
  
  .submit {
    height: 60px;
    width: 150px;
    color: $color-3;
    font-size: 20px;
    font-weight: 800;
    background-color: $color-1;
  }

  textarea {
    background: #C2E6FF;
  }
}
