@keyframes wave {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  90% {
    transform: rotate(50deg);
  }
  40%,
  80% {
    transform: rotate(-25deg);
  }
}

.smiley-hand {
  font-size: 4em;
  animation: wave 5s infinite;
  margin-bottom: 50px;
}

.titleStructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home__structure__components {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  gap: 30px;
  color: $color-3;
  p {
    width: 500px;
    line-height: 1.5;
  }
  img {
    height: 200px;
  }
}

.home__structure__welcom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
