@media (max-width: 950px) {
  /**   General **/

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  footer {
    flex-direction: column-reverse;
    gap: 10px;

    .footerCitation {
      width: 80%;
      padding-top: 10px;
    }

    .footerLogo {
      text-align: center;
    }

    .footerCitation {
      font-weight: 800;
      text-align: center;
    }

    .footerMedia {
      gap: 20px;
    }
  }

  h3 {
    text-align: center;
  }

  h4 {
    font-size: large;
  }



  /** Header **/

  .logoJm {
    height: 80px;
  }

  .navigation {
    ul {
      flex-direction: column;
      font-size: 20px;
    }
  }

  /** Présentation **/

  .banner {
    height: auto;
    img {
      height: 150px;
      margin-right: 0;
    }
  }

  .cv_text {
    padding: 0;
    margin-bottom: 0;
    p {
      font-size: smaller;
    }
  }

  .icone {
    height: 70px;
  }

  .listIcones {
    gap: 20px;
  }

  .giftPresentation {
    height: 250px;
    border-radius: 100%;
  }

  /** Home **/

  .smiley-hand {
    font-size: 3em;
    margin-bottom: 30px;
  }

  .home__structure__components {
    p {
      width: 300px;
      padding-bottom: 50px;
    }
  }

  /** carousel **/

  .carousel-container {
    .carousel {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .carousel__pagination {
      font-size: 30px;
    }

    .arrowMediaQueries {
      margin-top: 25px;
      height: 20px;
      gap: 0;
    }

    .carousel__arrow {
      img {
        width: 150px;
      }
    }

    .mediaQueriesLeft {
      display: block;
    }
    .mediaQueriesRigth {
      display: none;
    }
  }

  /** Project **/

  .project {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    h1 {
      font-size: 80px;
      font-weight: 800;
    }
    p {
      font-size: 20px;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }

    &__title {
      font-size: 30px;
    }
  
    &__location {
      font-size: 15px;
    }
  }

  .project__right {
    align-items: flex-start;
  }

  .project__left {
    li {
      font-size: 10px;
    }
  }

  .collapse__project {
    display: flex;
    flex-direction: column;

    .collapseLiens {
      align-items: baseline;

      a {
        font-size: 20px;
      }
    }
  }

  /** Réalisations **/

  .cards {
    &__text {
      height: 1px;
      font-size: 19px;
    }
    &__text__subtitle {
      height: 100px;
      font-size: 16px;
      padding: 15px;
    }
  }

  .giftTravail {
    height: 200px;
    border-radius: 20px;
  }

  /** Contact**/

  .contact {
    font-size: 20px;
    p{
      padding: 30px;
    }
  }

  .form {
    width: 300px;
    .case{
    textarea {
      height: 400px;
    }
  }
  }
}

@media (max-width: 720px) {

  .cv_text {
    p {
      text-align: center;
    }
  }
  .contact {
    img {
      height: 200px;
    }
  }
  .smiley-hand {
    font-size: 2em;
  }
  .project {
    &__left {
      h1 {
        font-size: 40px;
        font-weight: 800;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
