.cv_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 80px;

  p {
    text-align: justify;
    margin: 20px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .photoPresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20;
    p {
margin-right: 20px;
    }
  }
  .photoPresentationReverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20;
  }
}

.iconesAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
  h4 {
    background-color: $color-1;
    box-shadow: 0 0 42px $color-1;
    border-radius: 5px;
    padding: 10px;
    color: $color-3;
  }
}

.icone {
  height: 90px;
}

.listIcones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
  margin: 43px auto 50px;
}

.icone {
  margin-bottom: 20px;
}

.listIconesDetouring {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}

.ancres {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px dotted black;
}

.giftPresentation {
  height: 500px;
  border-radius: 100%;
  box-shadow: 0 0 42px rgba(0, 0, 0, 1.3);
}
