.realisation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
    img {
        height: 300px;
    }
}

.giftTravail {
    border-radius: 50px;
  }