.realisation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
    img {
        height: 300px;
    }
}

.giftTravail {
    border-radius: 50px;
    box-shadow: 0 0 42px rgba(0, 0, 0, 1.3);
  }