@font-face {
  font-family: "Montserra";
  src: local("Montserra"),
    url(../assets/fonts/Montserrat-Medium.ttf) format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$font-1: "Montserra";

$color-1: #323232;
$color-2: #ddd0c8;
$color-3: #f5ecec;
$color-4: #e73c7e;
$color-5: #23a6d5;
$color-6: #23d5ab;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  font-size: xx-large;
  font-weight: 900;
  text-decoration: underline;
  border: black solid 1px;
  box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
  padding: 20px;
}

h4 {
  font-size: x-large;
  font-weight: 900;
}

body {
  font-family: $font-1;
  font-size: x-large;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px 50px 100px;
  gap: 43px;
  min-height: 60vh;
  position: relative;
}

footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 30px;
  border-top: 1px solid #4f086b;

  .footerCitation {
    width: 20%;
    text-align: center;
    p {
      font-size: 15px;
    }
  }

  .footerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    color: #ffff;
  }

  .footerMedia {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-bottom: 70px;
    
    img {
      height: 40px;
    }
  }
}
