@import "./components/colors";
@import "./settings";
@import "./components/home";
@import "./components/banner";
@import "./components/navigation";
@import "./components/cards";
@import "./components/error";
@import "./components/collapse";
@import "./components/project";
@import "./components/carousel";
@import "./components/nomPrenomAnimation";
@import "./components/preloader";
@import "./components/contact";
@import "./components/form";
@import "./components/presentation";
@import "./components/realisation";
@import "./components/mediaqueries";
